@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div style="text-align: center; height: 600px;">
    <h4 style="color: #58D68D; margin-top: 200px">Đặt hàng thành công ! Vui lòng đợi người bán xác nhận đơn hàng.</h4>
    <a href="/products" style="color: red; text-decoration: underline">Tiếp tục mua sắm</a>
</div>
