@model List<WebThanhCode.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td><a class="btn btn-warning" href="/edit-category/@category.CategoryId">Edit</a></td>
                    <td><a class="btn btn-danger" href="/delete-category/@category.CategoryId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

