@model Website_Sport.Models.User
@{
    ViewData["Title"] = "ResetPass";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div class="container">
    <form asp-action="ResetPass" method="post">
        <input name="NewPass" id="NewPass" type="password" placeholder="Nhập password mới..."/>
        <button type="submit">Lưu</button>
    </form>
</div>

